.app-div {
  background-color: #3399cc;
  padding: 2%;
}

ul {
  font-size: 0;
  padding-inline-start: 0;
}

li {
  display: inline-block;
  font-size: 21px;
  text-align: center;
}

p {
  color: white;
}

.lis {
  width: 50%;
  background-color: #3399cc;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.par {
  width: 25%;
  background-color: #33cccc;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.bel {
  width: 25%;
  background-color: #996699;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.mos {
  width: 25%;
  background-color: #c24747;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.tel {
  width: 25%;
  background-color: #e2674a;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.cai {
  width: 25%;
  background-color: #ffcc66;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.new {
  width: 25%;
  background-color: #99cc99;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.del {
  width: 25%;
  background-color: #669999;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.san {
  width: 50%;
  background-color: #cc6699;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.tok {
  width: 25%;
  background-color: #339966;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

.syd {
  width: 100%;
  background-color: #666699;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
}

li:hover {
  opacity: 0.5;
}
